<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Omnibiz Case Study - Sales Forecasting by Johnson Amodu</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <label for="Quarter">Enter Quarter of the year(1-4):</label>
    	<input type="number" min="1" max="4" step="1" value="1"name="Quarter" placeholder="" required="required" /> <br><br>

      <label for="Month">Enter Month Number(1:Jan... 12:Dec):</label>
      <input type="number" min="1" max="12" name="Month" placeholder="" required="required" /> <br><br>

      <label for="Day of Month">Enter Month Day Number(1-31):</label>
		  <input type="number" min="1" max="31" name="Day of Month" placeholder="" required="required" /> <br><br>
		  
      <label for="Day of Week">Enter Day of Week(0:Sun, 1:Mon ... 5:Fri, 6:Sat):</label>
      <input type="number" min="0" max="6" name="Day of Week" placeholder="" required="required" /> <br><br>
      
      <label for="Weekend">Enter Weekday Value(0:Weekday, 1:Weekend):</label>
      <input type="number" min="0" max="1" name="Weekend" placeholder="" required="required" /> <br><br>
      
      <label for="Orders">Enter estimated total orders for the day:</label>
      <input type="number" min="1" name="Orders" placeholder="" required="required" /> <br><br>

      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   <div style="background-color:powderblue;">
   {{ prediction_text }}
  </div><br>

  <div>
    <p> by JOHNSON AMODU</p>
  </div> 

 </div>

</body>
</html>
